# IPython Kernel for Jupyter
ipykernel==6.29.5
# Backport of importlib.import_module() from Python 2.7
importlib==1.0.4
# Read key-value pairs from a .env file and set them as environment variables
python-dotenv==1.1.0
# Fundamental package for array computing in Python
numpy==1.24.3
# Powerful data structures for data analysis, time series, and statistics
pandas==2.0.1
# Missing data visualization module for Python.
missingno==0.5.2
# Python plotting package
matplotlib==3.7.1
# Statistical computations and models for Python
statsmodels==0.14.0
# A set of python modules for machine learning and data mining
scikit-learn==1.2.2
# Open World Holidays Framework
holidays==0.71
# TensorFlow is an open source machine learning framework for everyone
tensorflow==2.19.0
# Multi-backend Keras
keras==3.9.2
# An easy to use Python 3 Pandas Extension with 130+ Technical Analysis Indicators. Can be called from a Pandas DataFrame or standalone like TA-Lib. Correlation tested with TA-Lib.
pandas_ta==0.3.14b0
# Pretty-print tabular data
tabular==0.9.0
# Download market data from Yahoo! Finance API
# NOTE: If you run into issues with yfinance, try upgrading to the latest version
yfinance==0.2.55
# yfinance==0.2.58
# Python API for Federal Reserve Economic Data (FRED) from St. Louis Fed
fredapi==0.5.2
